# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Spark        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
# This a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [16]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Identify common libraries used in Data Science.
- Introduce basic arithmetic operations in Python.

## Author

This notebook was created by chetan reddy.